@import "../../../assets/scss/fonts";
@import "../../../assets/scss/colors";

#appointment-form-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > * {
    padding: 40px;

    header {
      font-family: $font-roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.07em;
    }

    section {
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        hr {
          width: 100%;
        }

        .control-container {
          display: flex;
          align-items: flex-end;

          .input-hint {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(90px * 0.55);
            margin: 5px 0 5px 30px;

            cursor: pointer;

            svg {
              width: 25px;
              height: 25px;
              padding: 5px;
              border-radius: 50%;
              border: 1.5px solid rgba(120, 120, 120, 0.66);

              fill: rgba(120, 120, 120, 1);
            }
          }
        }

        .alert-div {
          display: flex;
          align-items: center;

          margin-top: 20px;

          span {
            margin-left: 20px;
          }
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;

      button {
        border: 0;
        border-radius: 30px;

        font-family: $font-roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        letter-spacing: 0.05em;

        padding: 15px 30px;

        transition: .3s;
        box-shadow: 0 0 0 #aaa;

        &:hover {
          box-shadow: 0 0 10px #aaa;
        }

        @media screen and (max-width: 767.999999px) {
          margin: 10px 0;
        }

        &:first-child {
          background-color: $l-blue;
          color: white;

          &.disabled {
            opacity: .3;
          }
        }

        &:focus {
          outline: none;
        }

        &:last-child {
          color: $l-blue;
          border: 1.5px solid $l-blue;
          background-color: white;
        }
      }
    }
  }
}
